{%extends 'base.html' %}
{% block title %}
About - {{ block.super }}
{% endblock %}

{% block content %}
Lorem ipsum dolor sit amet, consectetur adipiscing elit,
 sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
 Dis parturient montes nascetur ridiculus mus mauris vitae. Congue nisi 
 vitae suscipit tellus mauris. Elementum eu facilisis sed odio morbi quis 
 commodo. Feugiat in ante metus dictum. Id faucibus nisl tincidunt eget nullam. 
 Parturient montes nascetur ridiculus mus mauris vitae ultricies leo. In aliquam 
 sem fringilla ut morbi tincidunt augue interdum. Netus et malesuada fames ac 
 turpis. Enim nulla aliquet porttitor lacus luctus accumsan tortor posuere ac.
  Ac tortor vitae purus faucibus ornare. Suspendisse faucibus interdum posuere lorem ipsum.
{% endblock %}